<h1>Результат тестировния и рекомендации:</h1>
<h3>
  <strong>Абитуриет: </strong>
  <%= @user.email %>
</h3>

<% for i in 1..5 do %>
<p>
  <strong>
    <%= i %>
    .  </strong>
  <%= @quest[i] %>
  <%= @answ[i] %>
</p>
<% end %>


